<header>
  <nav class="nav-container">
    <a routerLink="/soccer-players" routerLinkActive="active" class="header-item">Manage players</a>
    <a routerLink="/soccer-teams" routerLinkActive="active" class="header-item">Manage football teams</a>
    <a routerLink="/soccer-list" routerLinkActive="active" class="header-item">List Football teams</a>
  </nav>
</header>
<div class="page-body">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer"><span>Soccer Manager by Ferenc Hartmann</span></div>
</footer>
