<body>
  <h2>{{state[0].title}}</h2>
  <div class="maincontainer">
      <div class="header">TODOS</div>
      <div class="inputcontainer">
          <input class="input" #nameinput>
          <input class="input" #teaminput>
          <button (click) = "setItem(nameinput, teaminput)" class="addbutton">Add</button>
      </div>
      <div class="rowcontainer">
          <div *ngFor = "let i of state; let ind = index" class="todorow">
              <span class="title">{{i.name}}</span>
              <span class="title">{{i.team}}</span>
              <div (click) = "onDelete(i.id)" class="delete"></div>
          </div>
      </div>
  </div>
</body>
